# Backend Framework
fastapi
uvicorn

# LangChain and its community extensions
langchain
langchain-community

# Hugging Face and embeddings-related libraries
sentence-transformers==2.2.2
huggingface-hub==0.25.0

# PyTorch for model inference
torch

# Other utilities
pydantic
pydantic-settings
python-multipart
requests
python-multipart
requests
PyYAML
PyPDF2
faiss-cpu
InstructorEmbedding