# Backend Framework
fastapi
uvicorn

# LangChain and its community extensions
langchain
langchain-community

# Hugging Face and embeddings-related libraries
sentence-transformers
InstructorEmbedding
huggingface_hub

# PyTorch for model inference
torch

# Other utilities
pydantic
pydantic-settings
python-multipart
requests
python-multipart
requests
PyYAML
PyPDF2
faiss-cpu
